.app{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 250px;
    border: 1px solid red;
}

.feed {
  flex: 1;
  border: 1px solid green;
}

.widgets {
  width: 300px;
  border: 1px solid blue;
}